body {
  background-color: gray;
}

.second img{
  max-width: 400px;
  position: relative;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

i {
  font-size: 30px;
  padding: 5px;

}

#all {
width: 400px;
position: relative;
top: 40px;
left: 400px;
padding: 0;
margin: 0;
}

.first {
position: relative;
width: 400px;
height: 35px;
padding: 0px;
background-color: white;
}

.third{
  width: 400px;
  height: 115px;
  padding: 0px;
  background-color: white;

}

.name{
position: absolute;
left: 30px;
top: -5px;
padding: 0;
margin: 0;
border: 0;
font-size: 10px;
display: block;

}

.p {
  font-size: 18px;
  position:absolute;
  left: 380px;
  top: -12px;
}


.book{
  position:absolute;
  left: 360px;
  top: 310px;
}
